@use "../scss\ and\ css/lib.scss"as lib-scss;
@use "../scss\ and\ css/lib.scss";

.modal-window {
  /* position: absolute; */
  position: fixed;

  background-color: rgba(47, 47, 47, 0.445);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  /* visibility: hidden; */
  opacity: 1;
  /* pointer-events: none; */
  /* transition: all 1s ease-in-out; */
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
}
.modal-window > div {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: lib-scss.$tan-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* transition: 2s fadein ease-in-out; */
  border-radius: 0.5rem;
  animation: modal-fadeIn 0.5s;
}
.modal-window > div > p {
  font-size: 110%;
  font-weight: 600;
}

@keyframes modal-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  font-weight: 700;
  margin: 0 0 15px;
}

/* .modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}
a {
  color: inherit;
  text-decoration: none;
} */
/* .container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
/* .modal-window > div {
  border-radius: 1rem;
} */
.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
/* .logo {
  max-width: 150px;
  display: block;
} */
small {
  color: lightgray;
}
/* .btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
}
.btn i {
  padding-right: 0.3em;
} */
/* 
.a-bttn {
  padding: 3%;
  color: white;
  font-size: large;
  margin: 2% 5%;
  transition: all 0.25s;
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.157);
  border: 1px solid;
} */

.action-modal-bttns {
  display: flex;
  justify-content: flex-end;
}

.action-button {
  @extend .t27-button;
  margin-left: 20px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 600;

  // background: #f58220;
  // /* padding: 2% 3%; */
  // color: white;
  // font-size: large;
  // margin: 4% 5%;
  // /* border-radius: 10px; */
  // transition: all 0.25s;
  // cursor: pointer;
  // box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.157);
  // border: 0.25px solid #000;
  // height: 40px;
  // width: 150px;
}

@media screen and (max-width: 600px) {
  .modal-window > div {
    width: 90%;
  }
}
