@use "./lib.scss" as lib_scss;

// $pine_cone: #677467;
// lib_scss.$tan-color: #d1b08f;

// $gum-leaf: #c1cdc1;
// lib_scss.$burly-wood: #ddb489;
// lib_scss.$cognac: #a53a22;
// $satin-linen: #e3e3d9;
// lib_scss.$deep-teal: #005069;
// $mirage: #121f2f;

.navbar {
  position: sticky;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  /* background: black;
  background: rgba(0, 0, 0, 0.4);
  color: #333; 
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
  /* color: white; */
  /* position: relative; */
  z-index: 1000;
  content: "";
  /* top: 30px; */
  left: 0;
  width: 100%;
  height: 0px;
  padding: 0;
  // box-shadow: 0px 0 100px 50px $pine_cone;
  box-shadow: 0px 0 100px 50px rgba(0, 0, 0, 2);
  animation: fade-in-from-top 1s 0.5s forwards ease-out;
  visibility: 0;
  opacity: 0;
}

@keyframes fade-in-from-top {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
  to {
    visibility: 1;
    opacity: 1;
  }
}

.brand-title {
  display: flex;
  font-size: 1.75rem;
  margin: 0.75rem;
  text-decoration: none;
  animation: 1.3s anim-line-Up ease-out;
}

@keyframes anim-line-Up {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.logo {
  align-items: center;
  justify-content: center;
}

.logo_img {
  width: 45px;
  // filter: drop-shadow(0px 15px 2px #00a350) drop-shadow(0px -8px 15px #f58220);
  background-color: lib_scss.$tan-color;
  border-radius: 15px;
  box-shadow: 0px 0px 10px lib_scss.$tan-color;
  margin: 0 2% 0 1%;
}

.navbar-links ul {
  margin: 0 15px;
  padding: 0;
  display: flex;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out; */
  -webkit-background-clip: text;
  -webkit-animation: anim-line-left 1.5s ease-in-out;
  animation: 1.5s anim-line-left ease-in-out;
  /* -webkit-animation-delay: 1s; */
}

@keyframes anim-line-left {
  0% {
    /* visibility: hidden; */
    opacity: 0;
    /* transform: translateX(0%); */
  }

  100% {
    /* visibility: visible; */
    opacity: 1;
    /* transform: translateX(0%); */
  }
}

.navbar-links li a {
  text-decoration: none;
  color: lib_scss.$burly-wood;
  /* display: block; */
  font-size: 130%;
  /* font-weight: bold; */

  font-stretch: expanded;
}

.nav-link {
  transition: all 0.2s ease-in-out;
}

.nav-link a:hover {
  color: white;
  text-shadow: 0px 5px 30px white, 0px -5px 30px white;
  // text-shadow: 0px 10px 15px lib_scss.$cognac,
  //   0px -10px 15px lib_scss.$deep-teal;
}
.nav-link .login-icon {
  color: lib_scss.$burly-wood;
  margin-top: 16px;
  margin-left: 5px;
  cursor: pointer;
}
.nav-link .login-icon .active {
  color: #f7c0a2;
  text-shadow: 0px 0px 10px white;
}

.nav-link .active {
  // color: #054e5f;
  color: #f7c0a2;
  text-shadow: 0px 5px 20px white, 0px -5px 20px white;

  // transform: scale(1.06);
  // text-shadow: 10px 10px 10px #d1b08f, -10px -10px 10px #64574f;
  // text-shadow: 10px 10px 20px orange, 10px -10px 20px rgb(5, 72, 5),
  //   -10px -10px 20px green, -10px 10px 20px rgb(99, 57, 6);
}

.nav-link .login-icon:hover {
  color: white;
  text-shadow: 0px 0px 30px white;
  // text-shadow: 0px 10px 20px lib_scss.$cognac,
  //   0px -10px 20px lib_scss.$deep-teal;
  // text-shadow: 10px 10px 20px rgb(255, 255, 255), 10px -10px 20px rgb(5, 72, 5),
  //   -10px -10px 20px rgb(166, 166, 166), -10px 10px 20px rgb(99, 57, 6);
}

.logo-name {
  color: #bd957f;
  width: 220px;
}
// .green {
//   color: #00a350;
// }

.navbar-links li:hover {
  transform: scale(1.06);
  /* border-radius: 4px;
  margin: 0.5rem; */
  /* background-color: #f58220; */
  /* box-shadow: 20px 20px 40px orange, 20px -20px 40px rgb(5, 72, 5),
    -20px -20px 40px green, -20px 20px 40px rgb(99, 57, 6); */
}

.navbar-links li a {
  /* padding: 0.5rem; */
}

.navbar-links li a:hover {
  /* color: white; */
}

.navbar-links li {
  list-style: none;
  margin: 0.5rem;
}

.toggle-bars {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 20px;
  padding: 5px;
  display: none !important;
  color: lib_scss.$tan-color;
  z-index: 100;
}

.toggle-button .bar {
  height: 2px;
  width: 90%;
  background-color: lib_scss.$tan-color;
  border-radius: 10px;
}

// @media (max-width: lib_css.$m_screen_size) {
@media screen and (max-width: 800px) {
  .navbar {
    top: 0px;
    /* margin-: ; */
    flex-direction: column;
    align-items: flex-start;
  }

  .brand-title {
    font-size: 1.5rem;
  }

  .toggle-button {
    display: flex;
  }
  .toggle-bars {
    display: flex !important;
  }

  .navbar-links {
    position: fixed;
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  .navbar-links ul {
    top: 0;
    width: 80%;
    margin: 10%;
    text-align: center;
    flex-direction: column;
    transition: 0.2s;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  .nav-link a:hover {
    color: white;
    text-shadow: 10px 10px 20px orange, 10px -10px 20px rgb(5, 72, 5),
      -10px -10px 20px green, -10px 10px 20px rgb(99, 57, 6);
  }
}
