* {
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  /* height: 0px; */
}

body {
  background-color: #2c3337;
  pointer-events: auto;
}

.home-animation {
  animation: anim-later 2s 1s forwards ease-in-out;
  visibility: hidden;
  opacity: 0;
}

@keyframes anim-later {
  /* 0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } */
  to {
    visibility: visible;
    opacity: 1;
  }
}

.button-anim {
  animation: anim-from-left 2s 3s forwards ease-in-out;
  visibility: hidden;
  opacity: 0;
}

@keyframes anim-from-left {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.font-link {
  /* font-family: "Zen Kaku Gothic New", sans-serif; */
  font-family: "Quicksand", sans-serif;
}
